[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
kaggle = '*'
pandas = '*'
numpy = '*'
matplotlib = '*'

mrmr_selection = '*'
scikit-learn = '*'
lime = '*'

[dev-packages]

[requires]
python_version = "3.10"
